body {
  margin: auto;
  background-color: #ffcccb; 
  font-size: large;
}

h1 {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  color: #333; 
}

#instructions {
  border: 3px #008080 solid; 
  background-color: #5a6ce2; 
  color: #fff; 
  border-radius: 20px;
  margin: auto;
  text-align: center;
  width: 600px;
  padding: 20px;
}

.gameboard {
  background-color: #f0f8ff; 
  border: 3px #3131b7 solid; 
  border-radius: 20px;
  padding: 20px;
  font-size: x-large;
  margin: auto;
  max-width: 700px;
  display: none;
}

img {
  display: block;
  margin: auto;
  height: 60px;
  width: 60px;
  border: 3px solid #00f; 
  background-color: #87b2ed; 
  border-radius: 20px;
  padding: 15px;
}

#start,
#again {
  margin: auto;
  text-align: center;
  background-color: #0077cc; 
  color: #fff; 
  border-radius: 10px;
  width: 90px;
  height: 35px;
}

#win {
  display: none;
  margin: auto;
  text-align: center;
  margin-top: -50px;
}

#link {
  margin: auto;
  text-align: center;
  margin-top: 100px;
  position: absolute;
  left: 50px;
}

table {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

@keyframes winAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.win-message {
  animation: winAnimation 1s ease-in-out infinite;
}
